%html{:xmlns => "http://www.w3.org/TR/REC-html40", "xmlns:dt" => "uuid:C2F41010-65B3-11d1-A29F-00AA00C14882", "xmlns:m" => "http://schemas.microsoft.com/office/2004/12/omml", "xmlns:o" => "urn:schemas-microsoft-com:office:office", "xmlns:v" => "urn:schemas-microsoft-com:vml", "xmlns:w" => "urn:schemas-microsoft-com:office:word"}
  %head
    %meta{:content => "text/html; charset=windows-1252", "http-equiv" => "Content-Type"}
      %meta{:content => "Word.Document", :name => "ProgId"}
        %meta{:content => "Microsoft Word 14", :name => "Generator"}
          %meta{:content => "Microsoft Word 14", :name => "Originator"}
            %link{:href => "resume_files/filelist.xml", :rel => "File-List"}
              %title mimurray cv
  %body{:lang => "EN-US", :link => "blue", :style => "tab-interval:.5in", :vlink => "purple"}
    .WordSection1
      %p.MsoNormal{:align => "center", :style => "text-align:center"}
        %b{:style => "mso-bidi-font-weight:\r\nnormal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            %o:p  
      %h1{:align => "center", :style => "text-align:center"}
        %strong
          %span{:style => "font-family:\r\n\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:\r\nminor-latin;mso-bidi-theme-font:minor-latin"}
            Michael C. Murray
            %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
      %p.MsoSubtitle
        %strong
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";\r\nmso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:\r\nminor-latin"}
            Phone (206) 659-8590
            %br
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %a{:href => "mailto:michael@freeassoc.net"} michael@freeassoc.net
          %o:p
      %p.MsoNormal{:align => "center", :style => "text-align:center"}
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          LinkedIn:
          %a{:href => "http://www.linkedin.com/in/michaelcmurray"} http://www.linkedin.com/in/michaelcmurray
          %o:p
      %p.MsoNormal{:align => "center", :style => "text-align:center"}
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          Twitter:
          %a{:href => "http://twitter.com/#!/FreeAssocNET"} http://twitter.com/#!/FreeAssocNET
          %o:p
      %p.MsoNormal{:align => "center", :style => "text-align:center"}
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
      %p.MsoNormal{:align => "center", :style => "text-align:center"}
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
      %p.MsoNormal
        %b{:style => "mso-bidi-font-weight:normal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"} Objective
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          \: Contribute
          to powerful, easy-to-understand software that delights the user.
          %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
      %p.MsoNormal
        %b{:style => "mso-bidi-font-weight:normal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            Summary of
            qualifications
            %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
      %ul{:style => "margin-top:0in", :type => "disc"}
        %li.MsoNormal{:style => "mso-list:l4 level1 lfo7"}
          %span{:style => "font-family:\r\n     \"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:\r\n     minor-latin;mso-bidi-theme-font:minor-latin"}
            Full-Stack Ruby/Rails Engineer
            %o:p
        %li.MsoNormal{:style => "mso-list:l4 level1 lfo7"}
          %span{:style => "font-family:\r\n     \"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:\r\n     minor-latin;mso-bidi-theme-font:minor-latin"}
            Former member of .NET
            team at Microsoft
            %o:p
        %li.MsoNormal{:style => "mso-list:l4 level1 lfo7"}
          %span{:style => "font-family:\r\n     \"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:\r\n     minor-latin;mso-bidi-theme-font:minor-latin"}
            Experienced software engineer
            with proven architectural, technical and project delivery skills.
            %o:p
        %li.MsoNormal{:style => "mso-list:l4 level1 lfo7"}
          %span{:style => "font-family:\r\n     \"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:\r\n     minor-latin;mso-bidi-theme-font:minor-latin"}
            Background focused on
            Windows/.NET but also background in C/C++ (including sockets/network
            programming) and web development/
            %span.SpellE> javascript
            \/HTML.
            %o:p
        %li.MsoNormal{:style => "mso-list:l4 level1 lfo7"}
          %span{:style => "font-family:\r\n     \"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:\r\n     minor-latin;mso-bidi-theme-font:minor-latin"}
            Experience shipping V1 and
            multi-release products
            %o:p
        %li.MsoNormal{:style => "mso-list:l4 level1 lfo7"}
          %span{:style => "font-family:\r\n     \"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:\r\n     minor-latin;mso-bidi-theme-font:minor-latin"}
            Key PM owner of
            \"UX2006" Client Experience in Dynamics Applications
            %o:p
        %li.MsoNormal{:style => "mso-list:l4 level1 lfo7"}
          %span{:style => "font-family:\r\n     \"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:\r\n     minor-latin;mso-bidi-theme-font:minor-latin"}
            Contributor to .NET Design
            Guidelines and
            %span.SpellE FxCop
            Tool
            %o:p
        %li.MsoNormal{:style => "mso-list:l4 level1 lfo7"}
          %span{:style => "font-family:\r\n     \"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:\r\n     minor-latin;mso-bidi-theme-font:minor-latin"}
            Over 20 years’ experience as
            software professional.
            %o:p
        %li.MsoNormal{:style => "mso-list:l4 level1 lfo7"}
          %span{:style => "font-family:\r\n     \"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:\r\n     minor-latin;mso-bidi-theme-font:minor-latin"}
            Startup experience –
            entrepreneurial mindset
            %o:p
        %li.MsoNormal{:style => "mso-list:l4 level1 lfo7"}
          %span{:style => "font-family:\r\n     \"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:\r\n     minor-latin;mso-bidi-theme-font:minor-latin"}
            Strong verbal and written
            communications skills.
            %o:p
        %li.MsoNormal{:style => "mso-list:l4 level1 lfo7"}
          %span{:style => "font-family:\r\n     \"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:\r\n     minor-latin;mso-bidi-theme-font:minor-latin"}
            Plays well with others.
            %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
      %p.MsoNormal
        %b{:style => "mso-bidi-font-weight:normal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            US Patents
            %o:p
      %p.MsoNormal
        %b{:style => "mso-bidi-font-weight:normal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            %o:p  
      %ul{:style => "margin-top:0in", :type => "disc"}
        %li.MsoNormal{:style => "mso-list:l5 level1 lfo1"}
          %b{:style => "mso-bidi-font-weight:\r\n     normal"}
            %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\n     minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
              Architecture
              and Methods of Providing Network-Based Software Extensions
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\n     mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            ,
            %span{:style => "mso-spacerun:yes"}>             Patent #
            %a{:href => "http://www.freepatentsonline.com/7392522.html"} 7,392,522
            granted
            6/24/08
            %b{:style => "mso-bidi-font-weight:normal"}
              %o:p
        %li.MsoNormal{:style => "mso-list:l5 level1 lfo1"}
          %b{:style => "mso-bidi-font-weight:\r\n     normal"}
            %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\n     minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
              Network-Based
              Software Extensions
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";\r\n     mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;\r\n     mso-bidi-theme-font:minor-latin"}
            , Patent #
            %a{:href => "http://www.freepatentsonline.com/7000230.html"} 7,000,230
            granted
            2/14/06
            %b{:style => "mso-bidi-font-weight:normal"}
              %o:p
        %li.MsoNormal{:style => "mso-list:l5 level1 lfo1"}
          %b{:style => "mso-bidi-font-weight:\r\n     normal"}
            %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\n     minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
              Architectures
              For and Methods Of Providing Network-Based Software Extensions,
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\n     mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            %span{:style => "mso-spacerun:yes"}>             Patent #
            %a{:href => "http://www.freepatentsonline.com/6874143.html"} 6,874,143
            granted
            3/29/05
            %b{:style => "mso-bidi-font-weight:normal"}
              %o:p
        %li.MsoNormal{:style => "mso-list:l5 level1 lfo1"}
          %b{:style => "mso-bidi-font-weight:\r\n     normal"}
            %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\n     minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
              6
              additional patents pending
              %o:p
      %p.MsoNormal
        %b{:style => "mso-bidi-font-weight:normal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            %o:p  
      %p.MsoNormal
        %b{:style => "mso-bidi-font-weight:normal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            %o:p  
      %b{:style => "mso-bidi-font-weight:normal"}
        %span{:style => "font-size:12.0pt;\r\nfont-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;mso-fareast-font-family:\r\n\"Times New Roman\";mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin;\r\nmso-ansi-language:EN-US;mso-fareast-language:EN-US;mso-bidi-language:AR-SA"}
          %br{:clear => "all", :style => "page-break-before:always"}
      %p.MsoNormal
        %b{:style => "mso-bidi-font-weight:normal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            Professional
            experience
            %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
      %p.MsoNormal
        %b{:style => "mso-bidi-font-weight:normal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            2010 –
            Present
            = succeed "Principal/" do
              %span{:style => "mso-spacerun:yes"}             Software Engineer
            %span.GramE
              ,
              %span{:style => "mso-spacerun:yes"}>               Free
            Associates LLC
            %span{:style => "mso-spacerun:yes"}>             Seattle, WA
            %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
      %p.MsoNormal
        %span.GramE
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";\r\nmso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:\r\nminor-latin"} Freelance consultant/software engineer.
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %span{:style => "mso-spacerun:yes"}>           Projects include the following:
          %o:p
      %p.MsoNormal
        %b{:style => "mso-bidi-font-weight:normal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            Oct 2011 - Present
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            Ruby/Rails Developer: Turnkey real estate website / solution created by large regional real estate firm ( Windermere ) for their own offices and other agencies. I created several features including listing photo galleries and corporate, foundation and office blogs as well as middle-tier components/ APIs and back-end schema design. I contributed to initial site rollout in December 2011 and subsequent feature releases. 
            Technologies used: Ruby 1.92 and Rails 3.1.x with HAML views, CSS/SASS, Coffeescript/ Javascript, Javascript and jQuery controls, PostGreSQL / ActiveRecord and various gems including CkEdit (WYSIWYG editing for blogs), CarrierWave (file upload), FriendlyId (SEO-friendly URLs) and VCR, FactoryGirl, Capybara and more for RSpec-based tests. Twitter Bootstrap used for UI styling for portions of website.
            Tools used: Mac-based toolset: GitHub/Git for src control, MacVim, Firebug and Chrome debugging tools for javascript and CSS, Atlassian JIRA for bug tracking. SCRUM for daily feature tracking, Test-Driven Development using RSpec.
      %p.MsoNormal
        %b{:style => "mso-bidi-font-weight:normal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            Jun – Sep 2011:
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          Web
          UI features for CA-based online advertising company.
          %span{:style => "mso-spacerun:yes"}>           In this role I created new features for their
          existing ASP.NET MVC3-based website and fixed issues with existing
          features.
          %span{:style => "mso-spacerun:yes"}>           Some of my feature work
          included the entire stack for the UI features: SQL table/
          %span.SpellE> sproc
          \/index
          = succeed "," do
            %span.SpellE def’ns
          Entity Framework 4.1 models, data
          = succeed "," do
            %span.SpellE accessors
          WCF service and client interfaces, value
          objects, client-side repository, ASP.NET controllers and Razor-based controls
          and view pages,
          = succeed "-based" do
            %span.SpellE jQuery
          UI controls and client-side
          %span.SpellE javascript
          for
          %span.SpellE
            %span.GramE ajax
          and Model-View-
          %span.SpellE ViewModel
          (MVVM) in
          %span.SpellE javascript
          for responsive UI.
          %o:p
      %p.MsoNormal{:style => "margin-left:.5in"}
        %b{:style => "mso-bidi-font-weight:\r\nnormal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\""} Technologies used:
        %span{:style => "font-family:\"Calibri\",\"sans-serif\""}
          ASP.NET MVC3 with Razor view pages
          and controls, CSS,
          %span.SpellE jQuery
          and
          %span.SpellE jQuery
          UI (including
          = succeed "," do
            %a{:href => "http://wwwendt.de/tech/dynatree/index.html"}
              %span.SpellE DynaTree
          %a{:href => "http://fancybox.net/"}
            %span.SpellE FancyBox
          and
          = succeed ")," do
            %a{:href => "http://datatables.net/"}
              %span.SpellE DataTables
          = succeed "C#/.NET" do
            %span{:style => "mso-spacerun:yes"}           4.0, WCF, Entity Framework 4.1, Microsoft
          %a{:href => "http://research.microsoft.com/en-us/projects/moles/"} Moles
          isolation
          framework and
          %span{:style => "mso-spacerun:yes"}           
            %a{:href => "http://knockoutjs.com/"}
            %span.SpellE KnockoutJS
          MVVM
          framework for
          = succeed "." do
            %span.SpellE javascript
          %o:p
      %p.MsoNormal{:style => "margin-left:.5in"}
        %b{:style => "mso-bidi-font-weight:\r\nnormal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\""}
            Patterns used:
            %span{:style => "mso-spacerun:yes"}>             Repository
        %span{:style => "font-family:\r\n\"Calibri\",\"sans-serif\""}
          and general SOA patterns
          %o:p
      %p.MsoNormal{:style => "margin-left:.5in"}
        %b{:style => "mso-bidi-font-weight:\r\nnormal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\""} Tools used:
        %span{:style => "font-family:\"Calibri\",\"sans-serif\""}
          VS2010,
          %a{:href => "http://www.fogcreek.com/fogbugz/"}
            %span.SpellE FogBugz
          for issue tracking and
          %a{:href => "http://mercurial.selenic.com/"} Mercurial
          DVCS
          %span.GramE
            ,
            %span{:style => "mso-spacerun:yes"}           %a{:href => "http://www.fiddler2.com/fiddler2/"} Fiddler2
          = succeed "web" do
            %span{:style => "mso-spacerun:yes"}           debugger,
          %span{:style => "mso-spacerun:yes"}           %a{:href => "http://getfirebug.com/"} Firebug
          %o:p
      %p.MsoNormal
        %b{:style => "mso-bidi-font-weight:normal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            %o:p  
      %p.MsoNormal
        %b{:style => "mso-bidi-font-weight:normal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            Nov 2010- Jun
            2011:
          Completed a .NET-based rules
          system for a Seattle-based online training and accreditation firm. Besides
          providing streaming coursework, the company provided compliance certification
          for accountants certifying that they had completed training required in order
          to maintain professional licenses. The rules system I completed was a class
          library specialized for each jurisdiction with class constructs for rules and
          requirements that could be specialized per jurisdiction (each jurisdiction was
          different in subtle ways).
          %span{:style => "mso-spacerun:yes"}>           The rules
          system was then used in the compliance product which was sold to customers.
          %o:p
      %p.MsoNormal{:style => "margin-left:.5in"}
        %b{:style => "mso-bidi-font-weight:\r\nnormal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\""} Technologies used:
        %span{:style => "font-family:\"Calibri\",\"sans-serif\""}
          C#/.NET 4.0,
          %a{:href => "http://www.mybatis.org/"}
            %span.SpellE IBatis
          Data Mapper
          Framework, SQL,
          %a{:href => "http://specflow.org/"}
            %span.SpellE SpecFlow
          for user-specified acceptance tests,
          %span.SpellE NUnit
          %o:p
      %p.MsoNormal{:style => "margin-left:.5in"}
        %b{:style => "mso-bidi-font-weight:\r\nnormal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\""} Tools:
        %span{:style => "font-family:\"Calibri\",\"sans-serif\""}
          Visual Studio 2010, SQL Server,
          %a{:href => "http://specflow.org/"} Subversion
          VCS
          %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
      %p.MsoNormal
        %b{:style => "mso-bidi-font-weight:normal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            %o:p  
      %p.MsoNormal
        %b{:style => "mso-bidi-font-weight:normal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            Sep – Oct 2010:
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          Detailed
          architectural analysis and reference implementation app for Minneapolis-based Company
          with legacy tractor-trailer management system.  
          %span.GramE
            Created
            WCF- and EF-based SOA architecture for them which supports their current VB.NET
            client as well as web clients and can be used on-premise as well as in hosted
            scenarios.
          \ The use of patterns such as Repository pattern and
          clean separation between layers (and use of things like
          %span.SpellE RESTful
          URLs) decouples most of the implementation detail such that they can swap out
          underlying technology without disrupting other tiers of the application.
          \ Reference implementation is
          %a{:href => "https://github.com/FreeAssoc/OmniView"} available for perusal
          and
          %span.SpellE
            %span.GramE includes
          %span.GramE
            %span{:style => "mso-spacerun:yes"}>             an
          MVC2-based dashboard.
          %o:p
      %p.MsoNormal{:style => "margin-left:.5in"}
        %b{:style => "mso-bidi-font-weight:\r\nnormal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            Technologies
            used:
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          Microsoft Entity Framework v4, WCF, SQL Server 2008, ASP.NET MVC2, HTML,
          = succeed "/" do
            %span.SpellE Javascript
          = succeed "," do
            %span.SpellE jQuery
          %a{:href => "http://www.highcharts.com/"}
            %span.SpellE Highcharts
            JS
          %o:p
      %p.MsoNormal{:style => "margin-left:.5in"}
        %b{:style => "mso-bidi-font-weight:\r\nnormal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            Patterns
            used:
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          Repository, Inversion-of-Control
          %o:p
      %p.MsoNormal{:style => "margin-left:.5in"}
        %b{:style => "mso-bidi-font-weight:\r\nnormal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"} Tools:
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          Visual
          Studio 2010, SQL Server,
          %span.SpellE Git
          DVCS
          %o:p
      %p.MsoNormal{:style => "margin-left:.5in"}
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";\r\nmso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:\r\nminor-latin"}
          %o:p  
      %p.MsoNormal
        %b{:style => "mso-bidi-font-weight:normal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"} 2010:
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %span{:style => "mso-spacerun:yes"}>           Design for multi-sensory
          %span.SpellE ebook
          reader to assist dyslexic children and emergent readers.
          %o:p
      %p.MsoNormal
        %b{:style => "mso-bidi-font-weight:normal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            %o:p  
      %p.MsoNormal
        %span.GramE
          %b{:style => "mso-bidi-font-weight:normal"}
            %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
              1999
              %span{:style => "mso-spacerun:yes"}>               to
        %b{:style => "mso-bidi-font-weight:\r\nnormal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"} 2010
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          \:
          %span{:style => "mso-tab-count:1"}           
            %b{:style => "mso-bidi-font-weight:normal"}
            Microsoft
            Corporation
          = succeed "Redmond," do
            %span{:style => "mso-tab-count:1"}           WA and
          Copenhagen, Denmark
          %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
      %p.MsoNormal
        %b{:style => "mso-bidi-font-weight:normal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            2007 – 2010
            %o:p
      %p.MsoNormal
        %b{:style => "mso-bidi-font-weight:normal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            Senior
            Program Manager,
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";\r\nmso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:\r\nminor-latin"}
          %a{:href => "http://msdn.microsoft.com/en-us/data/ee461169.aspx"}>
            SQL
            Server Modeling Services
          , Redmond
          %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
      %p.MsoNormal
        %span.GramE
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";\r\nmso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:\r\nminor-latin"}
            Senior PM on SQL Server Modeling Services (formerly known as
            “Oslo”).
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";\r\nmso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:\r\nminor-latin"}
          %span{:style => "mso-spacerun:yes"}>           I worked on the
          %a{:href => "http://msdn.microsoft.com/en-us/library/dd857506(VS.85).aspx"}
            visual
            design tool
          (code-named “Quadrant”) and the Modeling Services
          = succeed "." do
            %a{:href => "http://msdn.microsoft.com/en-us/data/dd576266.aspx"}
              Enterprise Repository
              Database
          %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
      %p.MsoNormal
        %b{:style => "mso-bidi-font-weight:normal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            2004 - 2007
            %o:p
      %p.MsoNormal
        %b{:style => "mso-bidi-font-weight:normal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            Senior
            Program Manager
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";\r\nmso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:\r\nminor-latin"}
          ,
          %a{:href => "http://crm.dynamics.com/en-us/Default.aspx?CR_CC=100336129&WT.mc_id=SEARCH&WT.srch=1&CR_SCC=100336129"} Dynamics
          Client, Copenhagen, Denmark
          %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          Senior
          PM on the Dynamics Client team in Copenhagen where we created a
          %a{:href => "http://arstechnica.com/microsoft/news/2008/06/microsoft-dynamics-ax-2009-adds-ten-core-features.ars"}
            unified
            client and user experience
          for three Dynamics products which shipped in
          2008:
          %span{:style => "mso-spacerun:yes"}>           Dynamics
          = succeed "," do
            %span.SpellE Nav
          Dynamics Ax and Dynamics GP.
          %span{:style => "mso-spacerun:yes"}           %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          Our
          model for the client provided a logical abstraction for creating application UI
          which is translated at runtime into native
          %span.SpellE WinForms
          and ASP.NET constructs.
          %span{:style => "mso-spacerun:yes"}>           In this role I worked
          closely with UX and mentored two junior team members (a PM and a designer).
          %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          For
          %span.GramE
            the
            %span{:style => "mso-spacerun:yes"}>             Dynamics
          %span.SpellE Nav
          product I was responsible for the client
          %span{:style => "mso-spacerun:yes"}>           quality bar including all DCRs and
          fit-and-finish issues needed by Navision in order to ship in 2008.
          %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
      %p.MsoNormal
        %b{:style => "mso-bidi-font-weight:normal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            2003 – 2004
            %o:p
      %p.MsoNormal
        %b{:style => "mso-bidi-font-weight:normal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"} Program Manager
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          , Common
          Language Runtime, .NET Frameworks
          %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
      %p.MsoNormal
        %span.GramE
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";\r\nmso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:\r\nminor-latin"}
            PM for .NET 3.0 CLR
            %a{:href => "http://www.codeguru.com/columns/DotNet/article.php/c6027/"}
              %span.SpellE System.ServiceProcess
            and
            = succeed "." do
              %a{:href => "http://blogs.msdn.com/lukeh/archive/2007/07/11/c-3-0-and-codedom.aspx"}
                %span.SpellE System.CodeDom
        %span{:style => "font-family:\r\n\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:\r\nminor-latin;mso-bidi-theme-font:minor-latin"}
          %span{:style => "mso-spacerun:yes"}>
          Shipped
          %a{:href => "http://msdn.microsoft.com/en-us/library/bb429476%28VS.80%29.aspx"}
            %span.SpellE Fx
            Cop
          1.23 and 1.30 as well as authoring
          = succeed "." do
            %a{:href => "http://msdn.microsoft.com/en-us/library/ms229042.aspx"}
              \.NET Design
              Guidelines
          PM responsibilities included
          %span.SpellE WinFX
          API Reviews (reviewer as well as CLR owner of review process and tools) and
          TechNet presentations.
          %span{:style => "mso-spacerun:yes"}>           Created
          %a{:href => "http://blogs.msdn.com/frankred/archive/2005/01/15/353506.aspx"}
            Designing
            \.NET Class Libraries
          14-part course.
          %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
      %p.MsoNormal
        %b{:style => "mso-bidi-font-weight:normal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            2001 - 2002
            %o:p
      %p.MsoNormal
        %b{:style => "mso-bidi-font-weight:normal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            Program
            Manager
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          ,
          Microsoft
          %a{:href => "http://office.microsoft.com/en-us/visio/FX100487861033.aspx"} Visio
          %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          Responsible
          for full-fidelity
          %a{:href => "http://msdn.microsoft.com/en-us/library/aa218409%28office.10%29.aspx"}
            XML
            file format
          for Visio (VDX format); Office
          %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          Integration
          w/r/t sharing data/XML; SPS Integration; Co-author of
          %o:p
      %p.MsoNormal
        %span.GramE
          %i{:style => "mso-bidi-font-style:normal"}
            %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
              Next-Generation
              Visio
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            vision
            document.
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";\r\nmso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:\r\nminor-latin"}
          %span{:style => "mso-spacerun:yes"}>           Owned
          %a{:href => "http://www.svgopen.org/2003/papers/SVG_Scenarios_using_Microsoft_Office_Visio_2003/"}
            SVG
            Import/Export
          and ‘
          %a{:href => "http://office.microsoft.com/en-us/visio/HP010500251033.aspx"}> Save to Web
          ’
          features.
          %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
      %p.MsoNormal
        %b{:style => "mso-bidi-font-weight:normal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            1999 - 2001
            %o:p
      %p.MsoNormal
        %b{:style => "mso-bidi-font-weight:normal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            Program
            Manager
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          ,
          %a{:href => "http://news.zdnet.com/2100-9595_22-112926.html"}
            %span.SpellE NetDocs
          Platform
          %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          Responsible
          for NetDocs Extensions (Add-Ins
          %span.GramE
            )
            %span{:style => "mso-spacerun:yes"}>             All
          NetDocs features (email,
          %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          PIM,
          xml document editing, digital media) implemented as extensions:
          %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          Co-Patentee
          “Web-Based Extensions” (MS 154648.1/MS1-586US);
          %span.SpellE
            %span.GramE Spec’ed
          %span.GramE
            %span{:style => "mso-spacerun:yes"}>             and
          %o:p
      %p.MsoNormal
        %span.GramE
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";\r\nmso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:\r\nminor-latin"} helped
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";\r\nmso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:\r\nminor-latin"}
          create extension samples for SDK; Designed and managed implementation
          %o:p
      %p.MsoNormal
        %span.GramE
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";\r\nmso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:\r\nminor-latin"} of
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";\r\nmso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:\r\nminor-latin"}
          Extension Designer in VS7 for SDK;
          %span{:style => "mso-spacerun:yes"}>           Managed PM intern Summer 2000;
          %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          Managed
          relationships with internal groups building prototypes on NetDocs
          %o:p
      %p.MsoNormal
        %span.GramE
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";\r\nmso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:\r\nminor-latin"} platform
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";\r\nmso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:\r\nminor-latin"}
          \.
          %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
      %p.MsoNormal
        %span.GramE
          %b{:style => "mso-bidi-font-weight:normal"}
            %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
              1991
              %span{:style => "mso-spacerun:yes"}>               \-
        %b{:style => "mso-bidi-font-weight:\r\nnormal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            1999
            %o:p
      %p.MsoNormal
        %b{:style => "mso-bidi-font-weight:normal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            Next
            Generation Network
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";\r\nmso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:\r\nminor-latin"}
          (NGN)
          %span{:style => "mso-spacerun:yes"}           
            %span.SpellE
            Minneapolis
            %span.GramE ,MN
          %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          Winner:
          %a{:href => "http://findarticles.com/p/articles/mi_m0EIN/is_1999_April_19/ai_54418437/"}
            1999
            Windows World Open / Comdex
          %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
      %p.MsoNormal
        %b{:style => "mso-bidi-font-weight:normal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            Director of
            Development / Chief Technology Officer
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";\r\nmso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:\r\nminor-latin"}
          (
          %span.GramE>
            1994
            %span{:style => "mso-spacerun:yes"}>
            1999
          )
          %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          Primary
          architect and implementer of
          %a{:href => "http://www.thefreelibrary.com/ESPN+Expands+National+Out-of-Home+Reach.-a078519575"}
            Next
            Generation Network
          , at the time the largest out-of-home digital
          advertising network in the U.S., displaying digital ads as well as news,
          weather, sports and other info on flat-panel displays in over 8000 retail
          sites.
          %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          The
          product was a “push media” network managed using 3-tier MTS objects with DHTML
          interfaces against SQL Server back-end databases: All scheduling, billing,
          reporting, media and system state were SQL-based.
          %span{:style => "mso-spacerun:yes"}>           I designed majority of mission-critical
          systems and implemented all major functions along with several software
          engineers and contractors.
          %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          I
          also contributed to the design and implementation of NGN’s Media Player which
          supported MPEG video, Macromedia Shockwave/Director, DHTML and other media
          formats.
          %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          NGN
          went live in June of 1996.
          %span.GramE and
          expanded to more than
          22 markets (including London, Paris and Sydney)
          %span{:style => "mso-spacerun:yes"}>
          before being purchased by
          = succeed "." do
            %a{:href => "http://www.filmjournal.com/filmjournal/esearch/article_display.jsp?vnu_content_id=1000692818"}
              Regal
              Cinema Chain
          = succeed "Regal" do
            %span{:style => "mso-spacerun:yes"}           now uses the
          system for distributing digital film clips and advertising to cinemas.
          %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
      %p.MsoNormal
        %b{:style => "mso-bidi-font-weight:normal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            Software
            Engineer
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          (1991
          = succeed ")" do
            %span.GramE
              \-
              %span{:style => "mso-spacerun:yes"}>               1994
          %b{:style => "mso-bidi-font-weight:normal"}
            %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
      %p.MsoNormal
        %span.GramE
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";\r\nmso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:\r\nminor-latin"}
            Sockets-based utilities (in Borland C++ and C) and media authoring
            tools for our then-solution which encompassed custom hardware and software and
            an
            %span.SpellE Interbase
            RDBMS running on a
            = succeed "." do
              %span.SpellE Sparcserver
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          Developed
          and implemented the initial database repository design/schema and code to
          access SQL.
          %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
      %p.MsoNormal
        %b{:style => "mso-bidi-font-weight:normal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            1991
            %o:p
      %p.MsoNormal
        %b{:style => "mso-bidi-font-weight:normal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            George
            %span.SpellE Konik
            and Associates
            %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          Edina,
          MN
          %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
      %p.MsoNormal
        %b{:style => "mso-bidi-font-weight:normal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            Software
            Engineer
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          \/
          Contractor: Consultant at Medtronic Inc.:
          %span{:style => "mso-spacerun:yes"}>
          Design and development of Windows-based (POP protocol) email client
          program accessing
          = succeed "/" do
            %span.SpellE
              %span.GramE unix
          sun
          mail servers via TCP/IP using Sockets API and MS Windows SDK.
          %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
      %p.MsoNormal
        %span.GramE
          %b{:style => "mso-bidi-font-weight:normal"}
            %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
              1987
              %span{:style => "mso-spacerun:yes"}>               \-
        %b{:style => "mso-bidi-font-weight:\r\nnormal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            1991
            %o:p
      %p.MsoNormal
        %b{:style => "mso-bidi-font-weight:normal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            NCR Network
            Products Division
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";\r\nmso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:\r\nminor-latin"}
          %span{:style => "mso-spacerun:yes"}           
            = "St. Paul, MN"
          %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
      %p.MsoNormal
        %span.GramE
          %b{:style => "mso-bidi-font-weight:normal"}
            %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
              Software
              Engineer
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            ,
            Source Code Control Librarian for OSI network product developers.
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %span{:style => "mso-spacerun:yes"}>           System administration of Sun and NCR
          %span.SpellE
            %span.GramE unix
          minicomputers.
          %span{:style => "mso-spacerun:yes"}           
            %span.GramE
            Novell network
            administrator.
          %span{:style => "mso-spacerun:yes"}           
            %span.GramE
            X-Windows/
            %span.SpellE unix
            application integration under Microsoft Windows 3.0.
          %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
      %p.MsoNormal
        %b{:style => "mso-bidi-font-weight:normal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            Software
            Engineer,
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          Human Resource Information
          = succeed "1989" do
            %span.GramE
              Systems
              %span{:style => "mso-spacerun:yes"}>               (
          = succeed "1990):" do
            %span{:style => "mso-spacerun:yes"}
          Designed and developed Oracle-based departmental HR system on
          System V
          = succeed "." do
            %span.SpellE unix
          %span{:style => "mso-spacerun:yes"}
          %span.GramE
            Training and documentation for departmental users in
            Structured Query Language (SQL).
          %span{:style => "mso-spacerun:yes"}           %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
      %p.MsoNormal
        %span.SpellE
          %b{:style => "mso-bidi-font-weight:normal"}
            %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"} Prog
        %b{:style => "mso-bidi-font-weight:normal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";\r\nmso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:\r\nminor-latin"} / Analyst
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";\r\nmso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:\r\nminor-latin"}
          , Human Resource Information
          = succeed "1987" do
            %span.GramE
              Systems
              %span{:style => "mso-spacerun:yes"}>               (
          = succeed "1989):" do
            %span{:style => "mso-spacerun:yes"}
          Developed
          %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          PC-based
          database applications including company phone book, COBRA benefits
          applications, Applicant Tracking and Compensation Modeling programs.
          %span{:style => "mso-spacerun:yes"}>           Training and support for PC-based software including
          WordPerfect, dBase.
          %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          1987
          %o:p
      %p.MsoNormal
        %span.GramE
          %b{:style => "mso-bidi-font-weight:normal"}
            %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
              Clearwater
              Data Systems and
              %span.SpellE Sentinal
              Inc
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"} .
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %span{:style => "mso-spacerun:yes"}>           Anoka, MN
          %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
      %p.MsoNormal
        %b{:style => "mso-bidi-font-weight:normal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            Programmer/
            %span.GramE
              Analyst
              %span{:style => "font-weight:normal"}
                %span{:style => "mso-spacerun:yes"}>                 consultant
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          \:
          %span{:style => "mso-spacerun:yes"}>           Designed and implemented Inventory Tracking/
          Purchase Orders system for art supply store using
          %span.SpellE Foxbase
          on 386
          = succeed "." do
            %span.SpellE unix
          Designed and implemented Order Entry/
          Job Costing system for cabinet manufacturing company integrated with AR/ AP
          software modules.
          %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
      %p.MsoNormal
        %b{:style => "mso-bidi-font-weight:normal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            1986
            %o:p
      %p.MsoNormal
        %b{:style => "mso-bidi-font-weight:normal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            City of St.
            Paul
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          ,
          Office of Cable Communications
          %span{:style => "mso-spacerun:yes"}>
          St. Paul, MN
          %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
      %p.MsoNormal
        %b{:style => "mso-bidi-font-weight:normal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            Data
            Communications Intern:
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";\r\nmso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:\r\nminor-latin"}
          %span{:style => "mso-spacerun:yes"}>           Research, troubleshooting
          and implementation of data communications between City offices and Prime 9000
          series computers.
          %span.GramE
            Designed complaints/ information caller
            DBMS for Office of Cable Communications.
          %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
      %p.MsoNormal
        %b{:style => "mso-bidi-font-weight:normal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            1985
            %o:p
      %p.MsoNormal
        %b{:style => "mso-bidi-font-weight:normal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            B-Tree
            Software
            %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          Wayzata,
          MN
          %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
      %p.MsoNormal
        %b{:style => "mso-bidi-font-weight:normal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"} Programmer
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          \:
          %span{:style => "mso-spacerun:yes"}>           Coded all File I/O routines for a steel
          fabricating company DBMS using Lattice C
          = succeed "-Tree" do
            %span.GramE
              and
              %span{:style => "mso-spacerun:yes"}>               B
          file management on IBM PCs.
          %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
      %p.MsoNormal
        %b{:style => "mso-bidi-font-weight:normal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            Education
            %o:p
      %p.MsoNormal
        %span.GramE
          %b{:style => "mso-bidi-font-weight:normal"}
            %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
              1984
              %span{:style => "mso-spacerun:yes"}>               \-
        %b{:style => "mso-bidi-font-weight:\r\nnormal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            1987
            %span{:style => "mso-tab-count:1"}>             University of Minnesota
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %span{:style => "mso-spacerun:yes"}>           Minneapolis, MN
          %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          Completed
          Bachelor’s Degree Program in Mathematics with Computer
          %o:p
      %p.MsoNormal
        %span.GramE
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";\r\nmso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:\r\nminor-latin"} Science emphasis.
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";\r\nmso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:\r\nminor-latin"}
          %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
      %p.MsoNormal
        %b{:style => "mso-bidi-font-weight:normal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            1982
            %span{:style => "mso-tab-count:2"}>             Columbia University
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %span{:style => "mso-tab-count:1"}>           New York, NY
          %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          English/
          Journalism coursework
          %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
      %p.MsoNormal
        %b{:style => "mso-bidi-font-weight:normal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            1980
            %span{:style => "mso-spacerun:yes"}>             Rockland Comm. College
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %span{:style => "mso-tab-count:1"}           
            %span.SpellE
            Suffern
            %span.GramE ,NY
          %o:p
      %p.MsoNormal
        %span.GramE
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";\r\nmso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:\r\nminor-latin"} Associates’ Degree / English.
        %span{:style => "font-family:\r\n\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:\r\nminor-latin;mso-bidi-theme-font:minor-latin"}
          %span.GramE
            Mentor/Talented
            Student Honors Program.
          %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          Editor-in-Chief
          College Newspaper.
          %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
      %p.MsoNormal
        %b{:style => "mso-bidi-font-weight:normal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"} Language
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          s: (functional)
          Danish; Passing knowledge of German, French.
          %o:p
      %p.MsoNormal
        %b{:style => "mso-bidi-font-weight:normal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            %o:p  
      %p.MsoNormal
        %b{:style => "mso-bidi-font-weight:normal"}
          %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:minor-latin;\r\nmso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
            Microsoft
            References (see also:
            = succeed ")" do
              %a{:href => "http://www.linkedin.com/profile/view?id=9250749&authType=name&authToken=aZ-2&locale=en_US&pvs=pp&trk=ppro_viewmore"}
                LinkedIn
                Recommendations
            %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
      %table.MsoNormalTable{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse;mso-yfti-tbllook:1184;mso-padding-alt:0in 0in 0in 0in"}
        %tr{:style => "mso-yfti-irow:0;mso-yfti-firstrow:yes"}
          %td{:style => "width:145.05pt;border:solid windowtext 1.0pt;\r\n  padding:0in 5.4pt 0in 5.4pt", :valign => "top", :width => "193"}
            %p.MsoNormal
              %span{:style => "font-family:\"Calibri\",\"sans-serif\";\r\n  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:\r\n  minor-latin"}
                Name/Alias
                %o:p
          %td{:style => "width:144.45pt;border:solid windowtext 1.0pt;\r\n  border-left:none;padding:0in 5.4pt 0in 5.4pt", :valign => "top", :width => "193"}
            %p.MsoNormal
              %span{:style => "font-family:\"Calibri\",\"sans-serif\";\r\n  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:\r\n  minor-latin"}
                Title
                %o:p
          %td{:style => "width:153.3pt;border:solid windowtext 1.0pt;\r\n  border-left:none;padding:0in 5.4pt 0in 5.4pt", :valign => "top", :width => "204"}
            %p.MsoNormal
              %span{:style => "font-family:\"Calibri\",\"sans-serif\";\r\n  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:\r\n  minor-latin"}
                Relationship
                %o:p
        %tr{:style => "mso-yfti-irow:1"}
          %td{:style => "width:145.05pt;border:solid windowtext 1.0pt;\r\n  border-top:none;padding:0in 5.4pt 0in 5.4pt", :valign => "top", :width => "193"}
            %p.MsoNormal
              %span{:style => "font-family:\"Calibri\",\"sans-serif\";\r\n  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:\r\n  minor-latin"}
                %a{:href => "mailto:johngos@microsoft.com"}
                  John
                  %span.SpellE Gossman
                %o:p
          %td{:style => "width:144.45pt;border-top:none;border-left:\r\n  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;\r\n  padding:0in 5.4pt 0in 5.4pt", :valign => "top", :width => "193"}
            %p.MsoNormal
              %span{:style => "font-family:\"Calibri\",\"sans-serif\";\r\n  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:\r\n  minor-latin"}
                Partner Architect, Microsoft
                %o:p
          %td{:style => "width:153.3pt;border-top:none;border-left:\r\n  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;\r\n  padding:0in 5.4pt 0in 5.4pt", :valign => "top", :width => "204"}
            %p.MsoNormal
              %span{:style => "font-family:\"Calibri\",\"sans-serif\";\r\n  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:\r\n  minor-latin"}
                Coworker on Visio, then CLR (me)/Expression (John)
                %o:p
        %tr{:style => "mso-yfti-irow:2"}
          %td{:style => "width:145.05pt;border:solid windowtext 1.0pt;\r\n  border-top:none;padding:0in 5.4pt 0in 5.4pt", :valign => "top", :width => "193"}
            %p.MsoNormal
              %span{:style => "font-family:\"Calibri\",\"sans-serif\";\r\n  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:\r\n  minor-latin"}
                %a{:href => "http://www.linkedin.com/in/jamessmiller"} Jim Miller
                %o:p
          %td{:style => "width:144.45pt;border-top:none;border-left:\r\n  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;\r\n  padding:0in 5.4pt 0in 5.4pt", :valign => "top", :width => "193"}
            %p.MsoNormal
              %span{:style => "font-family:\"Calibri\",\"sans-serif\";\r\n  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:\r\n  minor-latin"}
                Google Technical Staff (former Partner Architect, Microsoft)
                %o:p
          %td{:style => "width:153.3pt;border-top:none;border-left:\r\n  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;\r\n  padding:0in 5.4pt 0in 5.4pt", :valign => "top", :width => "204"}
            %p.MsoNormal
              %span{:style => "font-family:\"Calibri\",\"sans-serif\";\r\n  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:\r\n  minor-latin"}
                Coworker, CLR
                %o:p
        %tr{:style => "mso-yfti-irow:3"}
          %td{:style => "width:145.05pt;border:solid windowtext 1.0pt;\r\n  border-top:none;padding:0in 5.4pt 0in 5.4pt", :valign => "top", :width => "193"}
            %p.MsoNormal
              %span{:style => "font-family:\"Calibri\",\"sans-serif\";\r\n  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:\r\n  minor-latin"}
                %a{:href => "http://www.linkedin.com/pub/mai-lan-tomsen-bukovec/0/40b/a45"}
                  Mai-
                  %span.SpellE Lan
                  %span.SpellE Tomsen
                  %span.SpellE Bukovic
                %o:p
          %td{:style => "width:144.45pt;border-top:none;border-left:\r\n  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;\r\n  padding:0in 5.4pt 0in 5.4pt", :valign => "top", :width => "193"}
            %p.MsoNormal
              %span{:style => "font-family:\"Calibri\",\"sans-serif\";\r\n  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:\r\n  minor-latin"}
                Director, Amazon
                %o:p
            %p.MsoNormal
              %span{:style => "font-family:\"Calibri\",\"sans-serif\";\r\n  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:\r\n  minor-latin"}
                (former Principal Product Unit Manager, Microsoft)
                %o:p
          %td{:style => "width:153.3pt;border-top:none;border-left:\r\n  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;\r\n  padding:0in 5.4pt 0in 5.4pt", :valign => "top", :width => "204"}
            %p.MsoNormal
              %span{:style => "font-family:\"Calibri\",\"sans-serif\";\r\n  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:\r\n  minor-latin"}
                Coworker, Visio
                %o:p
        %tr{:style => "mso-yfti-irow:4"}
          %td{:style => "width:145.05pt;border:solid windowtext 1.0pt;\r\n  border-top:none;padding:0in 5.4pt 0in 5.4pt", :valign => "top", :width => "193"}
            %p.MsoNormal
              %span{:style => "font-family:\"Calibri\",\"sans-serif\";\r\n  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:\r\n  minor-latin"}
                %a{:href => "mailto:sdanton@microsoft.com"} Stephen Danton
                %o:p
          %td{:style => "width:144.45pt;border-top:none;border-left:\r\n  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;\r\n  padding:0in 5.4pt 0in 5.4pt", :valign => "top", :width => "193"}
            %p.MsoNormal
              %span{:style => "font-family:\"Calibri\",\"sans-serif\";\r\n  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:\r\n  minor-latin"}
                Senior User Experience Designer
                %o:p
          %td{:style => "width:153.3pt;border-top:none;border-left:\r\n  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;\r\n  padding:0in 5.4pt 0in 5.4pt", :valign => "top", :width => "204"}
            %p.MsoNormal
              %span{:style => "font-family:\"Calibri\",\"sans-serif\";\r\n  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:\r\n  minor-latin"}
                Coworker/teammate, SQL Modeling Services
                %o:p
        %tr{:style => "mso-yfti-irow:5;mso-yfti-lastrow:yes"}
          %td{:style => "width:145.05pt;border:solid windowtext 1.0pt;\r\n  border-top:none;padding:0in 5.4pt 0in 5.4pt", :valign => "top", :width => "193"}
            %p.MsoNormal
              %span{:style => "font-family:\"Calibri\",\"sans-serif\";\r\n  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:\r\n  minor-latin"}
                %a{:href => "mailto:freddyk@microsoft.com"} Freddy Kristiansen
                %o:p
          %td{:style => "width:144.45pt;border-top:none;border-left:\r\n  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;\r\n  padding:0in 5.4pt 0in 5.4pt", :valign => "top", :width => "193"}
            %p.MsoNormal
              %span{:style => "font-family:\"Calibri\",\"sans-serif\";\r\n  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:\r\n  minor-latin"}
                PM Architect
                %o:p
          %td{:style => "width:153.3pt;border-top:none;border-left:\r\n  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;\r\n  padding:0in 5.4pt 0in 5.4pt", :valign => "top", :width => "204"}
            %p.MsoNormal
              %span{:style => "font-family:\"Calibri\",\"sans-serif\";\r\n  mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:\r\n  minor-latin"}
                Co-worker Dynamics/Copenhagen
                %o:p
      %p.MsoNormal
        %span{:style => "font-family:\"Calibri\",\"sans-serif\";mso-ascii-theme-font:\r\nminor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:minor-latin"}
          %o:p  
